:root{
    --white: #fff;
    --black: #000;
    --dark:#414141;
    --dark-light:#666;
    --dark-opacity: rgba(0, 0, 0, 0.50);
    --gray: #CACACA;
    --orange: #F90;
    --orange-hover:#FFB84D;
    --orange-active:#E1670E;
    --green: #97EE3F;

}