.header{
    background-color: var(--white);
    border-radius: 0 0 32px 32px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
    padding: 14px 0;
    margin-bottom: 50px;
}
.header__mobile{
  display: none;
}
.header__container{
    display: flex;
    align-items: center;
}
.header__logo{
  margin-right: auto;
  width: 225px;
}
.header__logo:focus{
  outline-offset: 6px;
  outline: 2px solid var(--orange);
}
.header__logo:focus-visible{
    outline: none;
}
.nav{
    display: flex;
    /* align-items: center; */
    margin-right: 85px;

}
.nav__list{
    display: flex;
    column-gap: 85px;
}

.nav__link{
    position: relative;
    color: var(--black);
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
    /* transition: color 0.3s ease-in-out ; */
}
.nav__link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out ;
}
.nav__link:focus{
    outline-offset: 6px;
    outline: 2px solid var(--orange);
}

.nav__link:hover::after{
    background-color: var(--orange);
    opacity: 1;
}
.nav__link:active{
    color: var(--orange-active);
    outline: none;
}

.nav__link:active::after{
    background-color: var(--orange-active);
    opacity: 1;
}
.header__btn{
    /* position: relative;
    width: 24px;
    height: 24px; */
    border: none;
    align-items: center;

}
.header__btn-img{
    /* position: absolute; */
    top: 0;
    left: 0;
    stroke: var(--black);
    transition: stroke 0.3s ease-in-out;

}
.header__btn:focus{
    outline: 2px solid var(--orange);
    outline-offset: 5px;
}
.header__btn:focus .header__btn-img {
    stroke: var(--black);

}
.header__btn-img rect{
    fill: var(--black);
    transition: fill 0.3s ease-in-out;
}

.header__btn-img:hover{
    stroke: var(--orange);

}
.header__btn-img:hover rect{
    fill: var(--orange);
}
.header__btn:active{
    outline: none;
}
@media(max-width: 1200px){
  .header{
    margin-bottom: 38px;
    padding: 25px 0;
  }
  .header__logo{
    width: 150px;
  }
  .nav{
    margin-right: auto;
  }
  .nav__list{
    column-gap: 56px;
  }


}
@media(max-width: 992px){
  .header{
    border-radius: 0 0 24px 24px;
    padding: 15px 0;
    margin-bottom: 40px;
  }
  .header__logo{
    width: 110px;

  }
  .nav__link{
    font-size: 16px;
  }
  .nav__list{
    column-gap: 42px;
  }
}
@media(max-width: 750px){
 .header .container{
  padding: 0;
 }
 .header__logo{
  padding-left: 15px;
 }
  .header{
    padding: 17px 0;
    border-radius: 0px 0px 16px 16px;
    margin-bottom: 20px;
  }
.header__container{
  display: none;
}
.header__btn{
  padding-right: 15px;
}
.header__mobile{
  display: flex;
  flex-direction: column;
}
.header__top{
  display: flex;
  align-items: center;
}
.nav__link{
  font-size: 16px;
  min-width: 49px;
}
.nav{
  margin: 0;
}
.nav__item{
  white-space: nowrap;
  box-sizing: border-box;
}
.nav__list:first-child{
  margin-left: 15px;
}
.nav__list:last-child{
  margin-right: 15px;
}
.header__nav{
  overflow-y: scroll;

}
.nav__list{
  column-gap: 24px;

}
.header__bottom{
  display: flex;
  padding: 16px 0 9px 0;


}

}
