.questions{
    margin-bottom: 100px;
}
.questions__title{
    margin-bottom: 32px;
}
.questions__cards{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 31px;

}
.cards__item{
    max-width: 569px;
    width: 100%;
    min-height: 292px;
    padding: 65px 60px;
    border-radius: 32px;
    border: 1px solid var(--gray);

}


.cards__item-title{
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    color: var(--black);
    font-weight: 700;
    line-height: normal;
    max-width: 412px;
}
.cards__item-descr{
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    color: var(--black);
    max-width: 450px;
}
@media(max-width: 1300px){
  .questions{
    margin-bottom: 77px;
  }
  .questions__cards{
    flex-direction: column;
    gap: 30px;
  }
  .cards__item{
    max-width: 100%;
    min-height: 231px;
  }
  .cards__item-title{
    max-width: 800px;
  }
  .cards__item-descr{
    max-width: 800px;
  }
  .questions{
    margin-bottom: 78px;
}
}
@media(max-width: 992px){
  .questions__cards{
    gap: 29px;
  }
  .cards__item{
    padding: 35px 40px;
    min-height: 200px;
  }

}
@media(max-width: 576px){
  .questions{
    margin-bottom: 57px;
  }
  .questions__title{
    margin-bottom: 18px;
  }
  .questions__cards{
    gap: 29px;
  }
  .cards__item{
    border: none;
    padding: 0;
    min-height: 150px;
  }
  .cards__item-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
  }
  .cards__item-descr{
    font-size: 14px;
    line-height: 29px;
  }

}
